@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=cyrillic);* {
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background: #f9f7f6;
  color: #404d5b;
  height: 100vh;
  margin: 0;
  padding: 15px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.form {
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 0 auto; }
  .form__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .form__name {
    text-transform: uppercase; }
  .form__input {
    border: 0;
    padding: 5px 5px 5px 20px;
    font-family: 'Rubik', sans-serif;
    width: 200px;
    height: 50px;
    margin: 10px;
    box-shadow: 2px 2px 20px -7px rgba(0, 0, 0, 0.36); }
    .form__input::placeholder {
      opacity: .3; }
